header {
    height: auto;
}

header::after {
    display: none;
}

#nav-tab img {
    width: 100%;
    height: 100%;
}

#myTab a {
    display: block;
}

.row.one {
    margin-bottom: 20px;
}

#nav-tab {
    display: flex;
}

#nav-tab .nav-link {
    flex-basis: 50%;
}

.nav-tabs {
    border: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0;
}

.card.mb-12 {
    margin-left: 16px;
    margin-right: 16px;
}

h3.submenu-title {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
}

hr.submenu-hr {
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

img.detail-modal {
    width: 100%;
}

.opacity80 {
    opacity: 80%;
}

.nav-pic p{
    text-align: center;
}