@media screen and (max-width: 300px) {
  #welcome-page-title {
    font-size: 30px;
  }
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}


/* This media is mad in order to make the first carousel disappear and let the other one appearing */

@media (max-width: 1000px) {
  .card {
    opacity: 0;
  }
}





header{
    height: 100vh;
    object-fit: cover;
    backdrop-filter: brightness(60%);
    display:block;
    position:relative;
}

header::after {
    background-image: url("images/portada.jpg");
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    }


#welcome-page-title {
    text-align: center;
    padding-top: 30vh;
    font-family: 'Bowlby One SC', cursive;
    color: rgba(255, 255, 255, 0.8);
}

.cardex {
    height: 50vh;
}

.centered-text {
    display: flex;
}

.detail-modal {
    width: 80%;
}

#news-field {
    height: 100vh;
}

nav {
  width: 100vw;
}
  
.top-nav-collapse {
  background-color: #78909c !important;
}
  
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}