.container {
  position: relative;
}

#news-small-screen-design {
  margin: 0;
  padding: 0;
  display: none;
}

h1 {
  position: relative;
}

header{
    height: 80vh;
    backdrop-filter: brightness(60%);
    display:block;
    position:relative;
}

header::after {
    background-image: url("images/portada.jpg");
    background-repeat: no-repeat;
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    }


#welcome-page-title {
    text-align: center;
    padding-top: 30vh;
    font-family: 'Bowlby One SC', cursive;
    color: rgba(255, 255, 255, 0.8);
}

.cardex {
    height: 50vh;
}

.centered-text {
    display: flex;
}

.detail-modal {
    width: 100%;
}

#main-news-field {
    margin-top:10%;
}

.card-background-img {
  background-image: url("images/bar.webp");
  height: 50%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  #news-small-screen-design {
    display: block !important;
  }
  #main-news-field {
    display: none;
  }
}

@media only screen and (max-width: 766px) {
  #welcome-page-title {
    padding-top: 5%;
  }
  #welcome-page-title {
    font-size: 30px;
    color: rgba(5,5,5, 0.7);
    margin-bottom: 1px solid black;
  }
  header {
    height: 20vh;
    background-color: white;
  }
  header::after {
    display: none;
  }
}