.inline-center{
  margin: auto;
}

.container {
  position: relative;
}

#news-small-screen-design {
  margin: 0;
  padding: 0;
  display: none;
}

#news-small-screen-design h1{
  text-align: center;
}


header{
  background-image: url("images/portada.jpg");
  height: 80vh;
  margin-bottom: 5%;
  backdrop-filter: brightness(60%);
  display:block;
}


#welcome-page-title {
    text-align: center;
    padding-top: 20%;
    font-family: 'Bowlby One SC', cursive;
    color: rgba(255, 255, 255, 0.8);
}

.cardex {
    height: 50vh;
}

.centered-text {
    display: flex;
}

.detail-modal {
    width: 100%;
}

#main-news-field {
    margin-top:5%;
}

.card-background-img {
  background-image: url("images/bar.webp");
  height: 50%;
  width: 100%;
}

@media only screen and (max-width: 1030px) {
  #news-small-screen-design {
    display: block !important;
  }
  #main-news-field {
    display: none;
  }
  header {
    height: 50vh;
  }

  #welcome-page-title {
    padding-top: 10%;
  }
}

@media only screen and (max-width: 766px) {
  #welcome-page-title {
    padding-top: 5%;
  }
  #welcome-page-title {
    font-size: 30px;
    color: rgba(5,5,5, 0.7);
    margin-bottom: 1px solid black;
  }
  header {
    background-image: none;
    height: 20vh;
    background-color: white;
  }
  header::after {
    display: none;
  }
}