a:hover{
   color: black;
}
 footer{
    background-color: #e8e9e8;
    
    
 }
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;

}

ul li a{
   text-decoration: none;
   color: black;
}
div.social-media{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
.nav-list{
   list-style-type: none;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-list>li{
   margin: 0 10px;
}
.social-media i{
 color: blue;
 font-size: large;
}