header{
    width: 100%;
    
    
}

#map-place{
    position: relative;
}

#map{
    object-fit: contain;
    width: 100%;
}
    
.button{
    
    border-radius: 25px;
    position: absolute;
}
#but-rambla{
    
    top: 22%;
    left: 34%;
    
}
#but-subirach{
    top:24%;
    left: 39%;
}
#but-gandhi{
    top:22%;
    left: 54%;
}
#but-park{
    top:57%;
    left: 55%;
}
#but-bogatell{
    top:65%;
    left: 54%;
}
#but-cementerio{
    top:64%;
    left: 43%;
}
#but-beso{
    top:59%;
    left: 49%;
}
#but-maria{
    top:33%;
    left: 45%;
}
#but-prim{
    top:47%;
    left: 54%;
}
.resize{
    width:30%;
}
article{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
article img{
    margin-right: 20px;
    margin-bottom: 20px;
}
#texto1, #texto2, #texto3, #texto4, #texto5, #texto6, #texto7, #texto8, #texto9{
    height: 200px;
    overflow: hidden;
}

.position{
    display: flex;
    justify-content: flex-end;
}
.show{
    overflow: visible !important;
    height: 100% !important;

}
.hide{
    display: none;
}
#less1, #less2, #less3, #less4, #less5, #less6, #less7, #less8, #less9{
    display: none;
}
.lessshow{
    display: block !important;
}

.hidden{
    display: none;
}


@media only screen and (max-width: 900px ) {
    .resize{
        width: 50%;
    }
    
}

@media only screen and (max-width: 650px) {
    #map-place{
        display: none;
    }
    .resize{
        width: 98%;
        
    }
}


