header{
    width: 100%;
    
    
}

#map-place{
    position: relative;
}

#map{
    object-fit: contain;
    width: 100%;
}
    
.button{
    
    border-radius: 25px;
    position: absolute;
}
#but-rambla{
    
    top: 22%;
    left: 34%;
    
}
#but-subirach{
    top:24%;
    left: 39%;
}
#but-gandhi{
    top:22%;
    left: 54%;
}
#but-park{
    top:57%;
    left: 55%;
}
#but-bogatell{
    top:65%;
    left: 54%;
}
#but-cementerio{
    top:64%;
    left: 43%;
}
#but-beso{
    top:59%;
    left: 49%;
}
#but-maria{
    top:33%;
    left: 45%;
}
#but-prim{
    top:47%;
    left: 54%;
}
.resize{
    width:30%;
    margin-right: 20px;
    margin-bottom: 20px;
}
article{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
#texto1, #texto2, #texto3, #texto4, #texto5, #texto6, #texto7, #texto8, #texto9{
    height: 200px;
    overflow: hidden;
}

.position{
    display: flex;
    justify-content: flex-end;
}
/*Style buton back to top*/
.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: none;
    z-index: 99;
    cursor: pointer;
    transition: 1s;
}
.back-to-top:hover{
    background-color: lightsteelblue;
}

/*footer style*/
a:hover{
    color: black;
 }
  footer{
     background-color: #E8E9E8;
     padding-top: 12px;
  }
 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 ul li a{
    text-decoration: none;
    color: black;
 }
 div.social-media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }
 .nav-list{
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .nav-list>li{
    margin: 0 10px;
 }
 .social-media i{
  color: blue;
  font-size: large;
 }
 .col-md-3 .mx-auto {
 margin: 0 15px;
 padding: 5px;
 }
 
 /*finish footer style*/

@media only screen and (max-width: 900px ) {
    .resize{
        width: 50%;
    }
    
}

@media only screen and (max-width: 650px) {
    #map-place{
        display: none;
    }
    .resize{
        width: 98%;
        
    }
     .knowLess{
        display: none;
    } 
    
}


